.footer {
    margin: 40px 0 0 0;
    padding: 10px;
}

footer{
    border: 1.5px solid #454545;
}

.footer__logo {
    width: 16px;
    height: 13px;
}
.footer__telegram__logo{
    width: 20px;
    height: 20px;
}
.country{
    font-family: Montserrat;
font-size: 10px;
font-weight: 500;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #A3A3A3;

}
.phone{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
margin: 5px 0;

}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 0;
}
.contacts__eu{
    margin: 0 0 0 50px;
}
.footer__mail{
    display: flex;
    flex-direction: row;
    width: 178px;
    padding: 13px 0;
}
.footer__mail__text{
    font-family: Montserrat;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
}
.footer__telegram{
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border: 1.5px solid white;
    border-radius: 5px;
    width: 120px;
height: 40px;
top: 117px;
left: 170px;
}
.footer__social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer__items{
font-size: 10px;
font-weight: 400;
line-height: 12px;
text-align: center;
margin: 30px auto;
}