.question {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin: 10px;
}

.join {
    margin: 10px 10px;
    padding: 15px 10px;  
    background-image: url(../img/alex.svg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.join__title {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    text-align: left;

}

.join__name {
    font-family: Bebas Neue;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: var(--button-color);
    margin: 5px 0;

}

.join__text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.join__propose {
    font-family: Montserrat;
    font-display: inherit;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    width: 238px;
    box-shadow: 4px 4px 30px 1px #5600E1B2;
    border: 1px solid #5600E1;
    background-color: var(--block-background);
    margin: 140px 0 30px 0;
    padding: 10px 0;
}


.join__button {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 17px 13px 16px 13px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    background-color: #5600E1;
}



@media (min-width: 650px) {
    .join {
        text-align: center;
        padding: 50px 0;
        background-image: url(../img/alex2.svg);
    }

    .join__title {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .join__name {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .join__text {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .join__propose {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .join__button {
        display: inline-block;
        background-color: #5601E1;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        padding: 15px 40px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        max-width: 300px;
    }

    .join__button:hover {
        background-color: #ffffff;
        color: #5601E1;
    }
}
@media (min-width: 910px){
    .join {
        display: flex;
        justify-content: space-between;
        background-color: var(--block-background);
        background-image: none;
        padding: 20px;
        border-radius: 0;
        max-height: 205px;
    }
    
    .join__left {
        flex: 1;
        align-self: flex-start; /* Додано вирівнювання по верхньому краю */
    }
    
    .join__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        flex: 1;
    }
    
    .join__propose {
        border: 0;
        box-shadow: none;
        font-weight: bold;
        margin: 5px 0; /* Змінено відстань між join__propose та join__button */
    }
    .join__propose2{
        margin: -40% 5px 0 5px ;
        font-size: 15px;
        font-weight: 400;
    }
    
    .join__button {
        background-color: #5601E1;
        color: white;
        width: 230px;
        margin: -80px 0 0 0;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 0;
    }
    
    .join__button:hover {
        background-color: #3a018f;
    }
}