.results {
    max-width: 650px;
    margin: 0 10px;
}

.results__title {
    text-align: center;
    margin-bottom: 20px;
}

.results__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.results__items__text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.results__text {
    margin: 0;
    font-size: 10px;
    background-color: var(--block-background);
    height: 90px;
    width: 100%;
    text-align: center;
    padding: 10% 0 0 0;
}
.results__text2{
    padding: 5% 0 0 0;
}

.checkmark1,
.checkmark2,
.checkmark3,
.checkmark4 {
    width: 50px;
    height: 50px;
    margin-left: -10px;
}
.video {
    margin: 0 10px;
    max-width: calc(100% - 20px);
}
@media (min-width: 320px) {
    .video {
        margin: 0 10px;
        max-width: calc(100% - 20px);
    }
}
@media (max-width: 650px) {
    .results__items {
        grid-template-columns: 1fr;
    }
}